<a href="https://colab.research.google.com/github/onlysubgroup/SNN_IDS/blob/main/NF_UNSW_to_hdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ideas:
- Sort by port/services
- Make time/byte-variant by looking at lenght of connection/number of sent bytes

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
url = "https://cloudstor.aarnet.edu.au/plus/s/N0JTc8JFNtZtUE4/download?path=%2F&files=NF-UNSW-NB15.csv"
df = pd.read_csv(url)#, names=header_names)

In [ ]:
df_ip = df.drop(['IPV4_SRC_ADDR', 'IPV4_DST_ADDR', 'Attack'], axis=1)

In [ ]:
df_ip

,L4_SRC_PORT,L4_DST_PORT,PROTOCOL,L7_PROTO,IN_BYTES,OUT_BYTES,IN_PKTS,OUT_PKTS,TCP_FLAGS,FLOW_DURATION_MILLISECONDS,Label
0,62073,56082,6,0.0,9672,416,11,8,25,15,0
1,32284,1526,6,0.0,1776,104,6,2,25,0,0
2,21,21971,6,1.0,1842,1236,26,22,25,1111,0
3,23800,46893,6,0.0,528,8824,10,12,27,124,0
4,63062,21,6,1.0,1786,2340,32,34,25,1459,0
...,...,...,...,...,...,...,...,...,...,...,...
1623113,1640,53,17,0.0,130,162,2,2,0,0,0
1623114,3610,21,6,1.0,2044,2404,36,34,26,0,0
1623115,4667,40725,6,0.0,320,1918,6,8,27,0,0
1623116,5641,56243,6,0.0,528,8824,10,12,27,0,0
1623117,1245,55094,6,0.0,216,112,4,2,18,0,0

In [ ]:
df_1000 = df_ip.drop(df.index[1000:])
df_10000 = df_ip.drop(df.index[10000:])
df_222 = df_ip.drop(df.index[:1000])
df_222 = df_ip.drop(df.index[1222:])
df_2222 = df_ip.drop(df.index[:10000])
df_2222 = df_2222.drop(df.index[12222:])
train_split = int(len(df_ip)*2/3) 
df_train = df_ip.drop(df.index[train_split:])
df_test = df_ip.drop(df.index[:train_split])

In [ ]:
#df_train.shape
#df_10000.shape
df_2222.shape
#df_train.head
#df_test.head

(2222, 11)

In [ ]:
df_1000.to_hdf('gdrive/MyDrive/NF-UNSW_1000.h5', key='df_1000', mode='w') 
df_10000.to_hdf('gdrive/MyDrive/NF-UNSW_10000.h5', key='df_10000', mode='w') 
df_222.to_hdf('gdrive/MyDrive/NF-UNSW_222.h5', key='df_222', mode='w')
df_2222.to_hdf('gdrive/MyDrive/NF-UNSW_2222.h5', key='df_2222', mode='w') 
df_train.to_hdf('gdrive/MyDrive/NF-UNSW_train.h5', key='df_train', mode='w') 
df_test.to_hdf('gdrive/MyDrive/NF-UNSW_test.h5', key='df_test', mode='w')

Preprossecing connection-time and number send bytes

Split train/test (how much?)

Feed norse model

Evaluation

In [ ]:
#df.groupby(["L4_SRC_PORT", "L4_DST_PORT"]).size()

In [ ]:
#addr_types = df[['IPV4_SRC_ADDR', 'IPV4_DST_ADDR']].value_counts()
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', -1)
#df.groupby(["IPV4_SRC_ADDR", "IPV4_DST_ADDR"]).size()